# Build Folders
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Configuration files
appsettings.json
appsettings.*.json

# Logs
*.log

# Visual Studio Code
.vscode/

# Rider
.idea/

# DotNet
*.swp
*.sln.ide
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.sln.docstates
*.sln.ide
*.sln.cache